<!-- <div class="container">
  <div class="left">
    <div class="header">
      <div class="arrow"></div>
      <div class="back">RETOUR</div>
    </div>
    <div class="main-content">
      <div class="title">
        <p>Louer son bateau</p>
        <p>sur Click<span>&</span>Boat</p>
      </div>
      <div class="choice-form">
        <p class="accroch">Je suis :</p>
        <div class="input-content">
          <div class="input-item" (click)="log(param = 'par')">
            <i class="far fa-circle" *ngIf="userSelected !== 'par'"></i>
            <i class="fas fa-check-circle valid" *ngIf="userSelected === 'par'"></i>
            <div>Un particulier</div>
          </div>
          <div class="input-item" (click)="log(param = 'pro')">
            <i class="far fa-circle" *ngIf="userSelected !== 'pro'"></i>
            <i class="fas fa-check-circle valid" *ngIf="userSelected === 'pro'"></i>
            <div>Un professionel</div>
          </div>
        </div>
        <button class="btn" [routerLink]="['/second', userSelected]" [disabled]="!userSelected" [class.disabled]="!userSelected">Commencer</button>
      </div>
    </div>
    <div class="footer">
      <div class="why">Pourquoi louer sur Click&Boat ?</div>
      <div>Estimez mes revenues</div>
    </div>
  </div>

  <div class="right">
    <div class="content">
      <div class="content-item">
        <div class="icon">
          <img src="../../assets/piggy-bank.png" alt="icon">
        </div>
        <div class="text">
          <div class="title">Gratuit</div>
          <div class="desc">C'est gratuit, et cela vous permet d'amortir vos frais d'entretients</div>
        </div>
      </div>
      <div class="content-item">
        <div class="icon">
          <img src="../../assets/shield.png" alt="icon">
        </div>
        <div class="text">
          <div class="title">Assuré</div>
          <div class="desc">Louez l'esprit sereinement à nos utilisateurs grâce à notre assurancce Global Assitance</div>
        </div>
      </div>
      <div class="content-item">
        <div class="icon">
          <img src="../../assets/user.png" alt="icon">
        </div>
        <div class="text">
          <div class="title">Libre</div>
          <div class="desc">Choisissez librement vos locataires, et aucune obligation de louer</div>
        </div>
      </div>
      <div class="content-item">
        <div class="icon">
          <img src="../../assets/telephone.png" alt="icon">
        </div>
        <div class="text">
          <div class="title">Accompagné</div>
          <div class="desc">Une équipe internationale toute l'année pour vous aider en cas de besoin</div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-template [page]="'first'"></app-template>
